In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
!gdown --id 1iwQSncXaMPR4UQ_WD3z_6dhAYu11bJmR

Downloading...
From: https://drive.google.com/uc?id=1iwQSncXaMPR4UQ_WD3z_6dhAYu11bJmR
To: /content/-_reviews.csv
100% 3.96M/3.96M [00:00<00:00, 230MB/s]

In [ ]:
df = pd.read_csv('/content/-_reviews.csv')
df.head()

   id          username date_create  ...  firm_id service  is_new
0  75        Гульсия И.  2021-05-21  ...        3       1       f
1  76        Евгения Л.  2021-01-15  ...        3       1       f
2  77          Алина С.  2021-01-15  ...        3       1       f
3  78  Валентин Лебедев  2021-04-19  ...        3       1       f
4  79   Алина Воронцова  2021-01-15  ...        3       1       f

[5 rows x 8 columns]

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Input, LSTM, Embedding, Dense, \
    Concatenate, TimeDistributed
from tensorflow.keras.models import Model
from tensorflow.keras.callbacks import EarlyStopping

NameError: ignored